# Assignment 5

## Ploty

You have been provided with data from the Titanic Passenger Roaster, depicting if an individual
survived the sinking of the ship or not. ‘Survived’ is denoted by (1) and ‘Did Not Survive’ is
denoted by (0). Only using Plotly, graph the following information from the data. Feel free to use
any of the Plotly submodules discussed (graph_objects, plotly express or iplot). Remember to
label your axis and name your plots appropriately. For each given question, only one figure is
expected

In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objs as go
import plotly.io as pio
pio.renderers.default = "iframe"

In [2]:
Titanic=pd.read_csv('Titanic Data.csv')
Titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### Question 1

Show the age distribution in the data using a histogram

In [18]:
trace1 = go.Histogram(
    x=Titanic.Age,
    opacity=0.75,
    name = "Age",
    marker=dict(color='rgba(171, 50, 96, 0.6)'))

data = [trace1]
layout = go.Layout(barmode='group',
                   title=' Age distribution',
                   xaxis=dict(title='Age')
)
fig = go.Figure(data=data, layout=layout)


fig.show()

## Question 2

Show the age distribution based on gender using a histogram.

In [22]:
trace1 = go.Histogram(
    x=Titanic.Age,
    opacity=0.75,
    name = "Age",
    marker=dict(color='rgba(171, 50, 96, 0.6)'),
    text=Titanic.Sex
)
trace2 = go.Histogram(
    x=Titanic.Sex,
    opacity=0.75,
    name = "Gender",
    marker=dict(color='rgba(12, 50, 196, 0.6)'),
  
)

data = [trace1, trace2]
layout = go.Layout(barmode='group',
                   title=' Age distribution based on Gender',
                   xaxis=dict(title='Age'),
                   yaxis=dict( title='Gender'),
)
fig = go.Figure(data=data, layout=layout)

fig.show()

Using the function df.corr() to identify the correlation within the data, represent its results
using a form of a matrix plot.

In [5]:
Titanic.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [6]:
fig = go.Figure(data=go.Splom(
                dimensions=[dict(label='Correlation of the data',
                                 values=Titanic.corr())],
     text=Titanic.PassengerId,
                marker=dict(color=Titanic.PassengerId,
                            showscale=False,
                             line_color='white')
                            ))

fig.show()

### Question 4

Pivot the data setting the column Pclass as the columns and Fare as the values. From the
resulting structure, use a boxplot to show the distribution of the values in its 3 columns.

In [23]:
trace1 = go.Box(
    y=Titanic.Pclass,
    name = 'Passenger Class',
    marker = dict(
        color = 'rgb(12, 128, 128)',
    )
)
trace2 = go.Box(
    y=Titanic.Pclass,
    name = 'Passenger Class',
    marker = dict(
        color = 'rgb(12, 128, 128)',
    )
)
trace3 = go.Box(
    y=Titanic.Pclass,
    name = 'Passenger Class',
    marker = dict(
        color = 'rgb(12, 128, 128)',
    )
)
data = [trace1,trace2,trace3]

layout = {
  'xaxis': {'title': 'Top 3 universities'},
  'barmode': 'group',
  'title': 'Passenger Class'
};

fig = go.Figure(data=data)


#fig = go.Figure(dict(data = data, layout = layout))

fig.show()

### Question 5

Graph the value counts of the number of passengers who survived and did not survive
based on gender using a stacked bar graph.

In [8]:
x = Titanic.Sex
trace1 = {
  'x': x,
  'y': Titanic.Survived==0,
  'name': 'Survived',
  'type': 'bar'
};
trace2 = {
  'x': x,
  'y': Titanic.Survived==1,
  'name': 'Not Survived',
  'type': 'bar'
};
data = [trace1, trace2];


layout = {
  'xaxis': {'title': 'Top 3 universities'},
  'barmode': 'relative',
  'title': 'citations and teaching of top 3 universities in 2014'
};

fig = go.Figure(dict(data = data, layout = layout))

fig.show()

### Question 6

Using a scatter plot, plot the ages to the fare paid by the each passenger based on their
gender.

In [33]:
#age
trace1=go.Scatter(
    x = Titanic.Age,
   y = Titanic['Fare'],
    mode = 'markers',
    name = "Age",
    marker = dict(color = 'rgba(255, 128, 255, 0.8)'),
    text= Titanic.Sex)

#Fare
#trace2=go.Scatter(
 #   x = Titanic.Fare,
   # y = Titanic['Fare'],
  #  mode = 'markers',
   # name = "Fare",
    #marker = dict(color = 'rgba(67, 32, 235, 0.8)'),
    #text= Titanic.Sex)

#data
data = [trace1]

#Layout
layout = dict(title = 'Age vs Fare paid based on Gender',
              xaxis= dict(title= 'Age',ticklen= 5,zeroline= False),
              yaxis= dict(title= 'Fare Paid',ticklen= 5,zeroline= False)
             )

#Figure
fig = go.Figure(dict(data = data, layout = layout))

#Graph
fig.show()

### Question 7

Plot a bubble plot of the ages to the fare paid by each passenger categorizing whether
they survived or not. The size of each bubble should be determined by the passenger class
and the name of each individual as the hover name.

In [10]:
data = [
    {
        'y': Titanic.Age,
        'x': Titanic.Fare,
        'mode': 'markers',
        'marker': {
            'color': Titanic.Survived,
            'size': Titanic.Pclass,
            'showscale': True
        },
        "text" :  Titanic.Name    
    }
]


fig = go.Figure(data)

fig.show()